body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(135deg, rgb(224, 247, 250), rgb(108, 99, 255));
}

.forgot-password-container {
    background: #FFFFFF;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px;
    padding: 30px;
    width: 100%;
    max-width: 400px;
}

.forgot-password-form h1 {
    font-size: 1.8rem;
    color: rgb(51, 51, 51);
    
    margin-bottom: 20px;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-size: 14px;
    color: #666666;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid #E0E0E0;
    border-radius: 8px;
    background: #F9FAFB;
    font-size: 14px;
    color: #333333;
    outline: none;
    transition: border-color 0.3s;
}

.form-group input:focus {
    border-color: rgb(108, 99, 255);
}

button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background-color: #ffa116;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:active {
    background-color: #ffc000;
}

.forgot-password-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}