/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    background:linear-gradient(135deg, rgb(224, 247, 250), rgb(108, 99, 255));
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
  }
  
  .form-container {
    background-color: #fff;
    padding: 2rem 1.5rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 420px;
    text-align: center;
  }
  
  h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: #333;
  }
  
  .form-group {
    margin-bottom: 1.5rem;
    text-align: left;
  }
  
  label {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 0.5rem;
    display: block;
  }
  
  input {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    font-size: 0.95rem;
    outline: none;
    transition: 0.3s;
  }
  
  input:focus {
    border-color: #6c63ff;
    box-shadow: 0 0 5px rgba(108, 99, 255, 0.5);
  }
  
  .btn {
    width: 100%;
    padding: 0.8rem;
    background-color: #ffa116;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
  }
  

  button:active {
    background-color: #ffc000;
  }
  

  .privacy {
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
    color: #666;
    line-height: 1.5;
    background: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px;
  }

  .privacy a {
    color: rgb(108, 99, 255);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
  }

  .privacy a:hover {
    color: #ffa116;
  }

  #login {
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
    color: #333;
    background: #eaf3fc;
    padding: 15px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px;
  }

  #login a {
    color: rgb(108, 99, 255);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
  }

  #login a:hover {
    color: #ffa116;
  }