<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Expense Tracker - Home Page</title>
    <link rel="stylesheet" href="../styles/Homepage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.2/axios.min.js"></script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
  </head>
  <body>
    <div class="overlay"></div>
    <div class="heading">
      <h1>Expense Tracker</h1>
    </div>
    <form onsubmit="expenseForm(event)" id="expensePage">
      <input type="number" id="amount" name="amount" placeholder="Chose Expense Amout" />
      <input type="text" id="itemDescription" name="itemDescription" placeholder="Expense name"/>

      <label for="cateogory">''</label>
      <select id="cateogory" name="category" placeholder="Cateogory">
        <option value="food">Select Category</option>
        <option value="Income" disabled>Select Income</option>
        <option value="Income">Salary Earned</option>
        <option value="Income">Investment</option>
        <option value="Income">Rental Income</option>
        <option value="Income">Bonus & Reimbursement</option>
        <option value="Income">Other Income</option>
        <option value="Expenses" disabled>Select Expenses</option>
        <option value="Grocery">Grocery</option>
        <option value="Food & Dining">Food & Dining</option>
        <option value="Clothing">Clothing</option>
        <option value="Auto & Transport">Auto & Transport</option>
        <option value="Education">Education & Edu Loans</option>
        <option value="Health & Fitness">Health and personal care</option>
        <option value="Bills">Bills & Utilities</option>
        <option value="Kids & Pet Care">Kids & Pet Care</option>
        <option value="Travel">Travel</option>
        <option value="Loans & Taxes">Loans & Taxes</option>
        <option value="Entertainment">Entertainment</option>
        <option value="Misc. Expense">Misc. Expense</option>
      </select>

      <button type="submit">Add Expense</button>

    </form>
    <div class="premiumContainer">
     
      <div id="ispremium"></div>
      <button id="rzp-button1">Buy Premium</button>

      <div id="leaderboard"></div>
      <button id="premiumLeaderBoard" style="display: none";>Show Leaderboard</button>
    </div>

    </div>
    
    <div id="goback">
      <a href="./login.html" id="loginPage">Go Back</a>
    </div>

    

    <div class="container">
      <div>
        <h2>All Expenses</h2>
        
      </div>
      <table id="table">
        <thead id="thead">
          <tr>
            <th>Date</th>
            <th>Description</th>
            <th>Category</th>
            <th>Income</th>
            <th>Expense amount</th>
            <th>Delete Expense</th>
          </tr>
        </thead>
        <tbody id="tbody">
          
        </tbody>
      </table>
    </div>

    <div id="selectPageLength">
      <label for="selectPage">Rows per page: </label>
      <select name="selectPage" id="selectPage" onchange="selectTable()">
        <option value="7" selected>select</option>
        <option value="10" >10</option>
        <option value="20">20</option>
        <option value="30">30</option>
        <option value="40">40</option>
      </select>
    </div>

    <div id="getUserExpensePreference">
      <label for="getUserDataPreference">Get Expense: </label>
      <select name="getUserDataPreference" id="getUserDataPreference" onchange="getUserExpensePreference()">
        <option value="daily" selected>select</option>
        <option value="daily">Daily</option>
        <option value="weekly" >weekly</option>
        <option value="monthly" >Monthly</option>
        <option value="yearly">Yearly</option>
      </select>
    </div>

    <div class="pagination" id="pagination">
      
    </div>

    <div id="s3DataDownload" style="display: none;">
      <button id="s3Button">Download All Data</button>
    </div>

    <div id="showLeaderboard" style="display: none;" class="container">
      <div>
        <h2>Leaderboard</h2>
      </div>
      <table id="tableshowLeaderboard">
        <thead id="theadshowLeaderboard">
          <tr >
            <th>S No.</th>
            <th>Name</th>
            <th>Totalcost</th>
            
          </tr>
        </thead>
        <tbody id="tbodyshowLeaderboard">
        </tbody>
      </table>
    </div>
    
    
    <script src="./js/homePage.js"></script>
    

    <script>
      
    </script>
  </body>
</html>
