<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./styles/Login.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.2/axios.min.js"></script>
  <title>Login Form</title>
  
</head>
<body>
  <div class="form-container">
    <div id="message"></div>
    <h2>Login</h2>
    <form onsubmit="login(event)" id="login-form">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" placeholder="Enter your email" required>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" placeholder="Enter your password" required>
      </div>
      <button type="submit" class="btn">Login</button>
    </form>

    <div class="additional-links">
      <p><a href="./ForgetPassword.html">Forgot Password?</a></p>
      <p>Don't have an account? <a href="./Signup.html">Sign Up</a></p>
    </div>
  </div>
  <script src="./js/login.js"></script>
</body>
</html>

